.wrapper{
	max-width: 90%;
	margin: 0	auto;
}
h1{
	color: blue;
	font-size: 84px;
	text-align: center;
}
li{
	list-style: none;
	text-align: center;
	background-color: blue;
	color: white;
	padding: 10px;
	margin: 10px;
	display: inline;
}
section{
	background-color: gray;
	margin: 20px;
}
article{
	padding-top: 30px;
}
h2{
	color: blue;
	font-size: 40px;
}
.article1{
	float: left;
	width: 25%;
	padding-left: 50px;
}
.clearfix:after{
	content: "";
	visibility: hidden;
	display: block;
	height: 0;
	clear: both;
	font-size: 0;
}
nav{
	border-bottom: 3px	black	solid;
}
.article2{
	float: right;
	width: 25%;
}
footer{
	background-color: blue;
	text-align: center;
	color: white;
}
.article3{
	float: right;
	width: 25%;
	padding-right: 50px;
}